<section class="header">
  <div class="header-settings">
    <div class="header-search">
      <span class="youtube-logo">
        <img src="../../assets/logos/youtube-logo.svg" alt="Youtube logo">
      </span>
      <div class="search-input">
        <form class="search-form">
          <input class="search-input" type="text" placeholder="Search a video" />
          <button class="search-btn" type="button">Search</button>
        </form>
      </div>
      <a href="#" class="settings-container">
        <img class="configuration" src="../../assets/logos/conf.svg" alt="Configuration">
      </a>
    </div>
    <div class="login-info">
      <span>Your name</span>
      <a href="#">
        <img class="login-logo" src="../../assets/logos/login.svg" alt="">
      </a>
    </div>
  </div>
  <div class="filter-options">
    <span>Sorting by: </span>
    <div class="filters">
      <a href="#">Date</a>
      <a href="#">Count of views</a>
      <div class="filter-by-word">
        <a href="#">By word or sentence</a>
        <input type="text" placeholder="Type a word or sentence" />
      </div>
    </div>
  </div>
</section>
