<section class="login-page">
  <div class="login-container">
    <h3 class="login-title">Login</h3>
      <form class="login-form" (ngSubmit)="onLogin(form)" #form="ngForm">
        <div class="username-field">
          <label for="username" class="username">login</label>
          <input ngModel name="username" type="text" id="username" class="username-input" required>
        </div>
        <div class="password-field">
          <label for="password" class="password">password</label>
          <input ngModel name="password" type="password" id="password" class="password-input" required>
        </div>
        <div class="login-button-wrapper">
          <button [disabled]="!form.valid" class="login-button" type="submit">Login</button>
        </div>
      </form>
  </div>
</section>