<header class="header">
  <div class="header-settings">
    <div class="header-search">
      <div class="youtube-logo">
        <img src="assets/logos/logo.png" alt="Youtube logo">
      </div>
      <div class="search-input">
        <form class="search-form">
          <input class="search-input" type="text" />
          <button class="search-btn" type="button" >Search</button>
        </form>
      </div>
      <a class="settings-container" (click)="toggleSettings()">
        <img class="configuration" src="assets/logos/search_settings.png" alt="Configuration">
      </a>
    </div>
    <div class="login-info">
      <span class="username">{{ username | async }}</span>
      <button class="logout-btn" (click)="onLogOut()">Log out</button>
      <a class="login-a">
        <img src="assets/logos/login.png" alt="Login">
      </a>
    </div>
  </div>
</header>
