<div class="card">
  <div class="card-container">
    <div class="img-container">
      <img src="../../../assets/logos/video-ohoto.jpg" alt="Video image">
    </div>
    <div class="card-info">
      <div class="views-container">
        <img src="../../../assets/logos/viewed.png" alt="Views">
        <span class="views">100</span>
      </div>
      <div class="likes-container">
        <img src="../../../assets/logos/liked.png" alt="Likes">
        <span class="likes">100</span>
      </div>
      <div class="dislikes-container">
        <img src="../../../assets/logos/dislike.png" alt="disikes">
        <span class="dislikes">36</span>
      </div>
      <div class="comments-container">
        <img src="../../../assets/logos/comments.png" alt="comments">
        <span class="comments">42</span>
      </div>
    </div>
    <div class="card-title-container">
      <div class="card-title-wrapper">
        <h3 class="card-title">Card title</h3>
      </div>
      <button class="card-btn-more" type="button">more...</button>
    </div>
  </div>
</div>
