<section class="admin-page">
  <div class="admin-container">
    <h3 class="card-title">Create a new card</h3>
      <form class="card-creation-form">
        <div class="d-flex">
          <label for="title" class="title">Title</label>
          <input type="text" id="title" class="title-input">
        </div>
        <div class="d-flex">
          <label for="title" class="title">Description</label>
          <input type="text" id="title" class="title-input">
        </div>
        <div class="d-flex">
          <label for="title" class="title">img</label>
          <input type="text" id="title" class="title-input">
        </div>
        <div class="d-flex">
          <label for="title" class="title">Video link</label>
          <input type="text" id="title" class="title-input">
        </div>
        <!-- <div class="password-field">
          <label for="password" class="password">password</label>
          <input type="password" id="password" class="password-input">
        </div> -->
        <div class="d-flex">
          <label for="title" class="title">Creation Date</label>
          <input type="date" id="title" class="title-input">
        </div>
        <div class="button-wrapper">
          <button class="button" type="submit">Create link</button>
        </div>
      </form>
  </div>
</section>