<section class="admin-page">
  <div class="admin-container">
    <h3 class="card-title">Create a new card</h3>
    <form
      [formGroup]="cardCreationForm"
      class="card-creation-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="d-flex">
        <label for="title">Title</label>
        <input
          formControlName="title"
          type="text"
          id="title"
        />
        <span
          *ngIf="
            title?.invalid &&
            title?.touched && !title?.errors?.['minlength'] && !title?.errors?.['maxlength']
          "
          >Please, enter a valid title</span
        >
        <span
          *ngIf="title?.errors?.['minlength']"
          >Enter a min of 3 characters</span
        >
        <span
          *ngIf="title?.errors?.['maxlength']"
          >Enter a max of 20 characters</span
        >
      </div>
      <div class="d-flex">
        <label for="description">Description</label>
        <input
          formControlName="description"
          type="text"
          id="description"
        />
        <span
          *ngIf="description?.errors?.['maxlength']"
          >The description is too long, enter a min of 20 characters</span
        >
      </div>
      <div class="d-flex">
        <label for="img-link">Image link</label>
        <input
          formControlName="imgLink"
          type="text"
          id="img-link"
        />
        <span
          *ngIf="
          imgLink?.invalid &&
            imgLink?.touched
          "
          >Please enter a link to the image</span
        >
      </div>
      <div class="d-flex">
        <label for="video-link">Video link</label>
        <input
          formControlName="videoLink"
          type="text"
          id="video-link"
        />
        <span
          *ngIf="
          videoLink?.invalid &&
          videoLink?.touched
          "
          >Please enter a link to the video</span
        >
      </div>
      <div class="d-flex">
        <label for="date">Creation Date</label>
        <input
          formControlName="creationDate"
          type="date"
          id="date"
        />
        <span
          *ngIf="
          creationDate?.invalid &&
          creationDate?.touched && !creationDate?.errors?.['dateIsInValid']
          "
          >Please enter a creation date</span
        >
        <span
          *ngIf="
          creationDate?.errors?.['dateIsInValid']
          "
          >The date is invalid</span
        >
      </div>
      <div formArrayName="tags" class="d-flex">
        <button type="button" [disabled]="tags.length === 5" (click)="onAddTag()">Add a Tag</button>
        <div class="d-flex" *ngFor="let tagControl of tags?.['controls']; let i = index">
          <input type="text" [formControlName]="i">
          <span *ngIf="tags?.['controls']?.[i]?.touched && tags?.['controls']?.[i]?.invalid">You cannot leave this field empty</span>
        </div>
      </div>
      <div class="button-wrapper">
      <button class="btn btn-reset" type="button" (click)="onReset()">Reset</button>
        <button class="btn btn-submit" type="submit" [disabled]="cardCreationForm.invalid">Create link</button>
      </div>
      <span *ngIf="cardCreationForm.invalid && cardCreationForm.touched">The form is in valid</span>
    </form>
  </div>
</section>
