.search-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #fff;
  width: 100%;
}

.empty-page-message {
  margin-top: 2rem;
  font-size: 3rem;
}

// Pagination section
.pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination-section button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.page-content {
  font-size: 2rem;
}