<section class="filter-options">
  <span class="sort-by">Sorting by: </span>
  <div class="filters">
    <button type="button" class="filter-date" (click)="filterByDate()">Date</button>
    <button type="button" class="filter-views" (click)="filterByViews()">Count of views</button>
    <div class="filter-by-word">
      <label for="filter-words">By word or sentence</label>
      <input type="text" id="filter-words" [(ngModel)]="filterByWords" (keyup)="updateValue()"/>
    </div>
  </div>
</section>
